<template>

<f7-page name="about">
	<f7-navbar title="关于" back-link></f7-navbar>

	<f7-block>
		<f7-row>
			<f7-col style="text-align:center; margin-top:2.5rem">
				<img src="../../../../build/logo.png" alt="logo" width="80">
			</f7-col>
		</f7-row>
		<f7-block-footer style="text-align:center">WebChat 1.0.0</f7-block-footer>
	</f7-block>

	<f7-list>
		<f7-list-item
			link="/introduction"
			title="功能介绍"></f7-list-item>
		<f7-list-item
			link="/feedback"
			title="反馈"></f7-list-item>
	</f7-list>

</f7-page>
</template>
