<template>

<f7-page name="modify-password">
	<f7-navbar title="修改密码" back-link></f7-navbar>

	<f7-list class="margin-top">
		<f7-list-item>
			<f7-label>帐号</f7-label>
			<f7-input :value="userId" @input="userid = $event.target.value" placeholder="帐号" type="text"></f7-input>
		</f7-list-item>
		<f7-list-item>
			<f7-label>密码</f7-label>
			<f7-input :value="password" @input="password = $event.target.value" type="password" placeholder="密码"></f7-input>
		</f7-list-item>
	</f7-list>

	<f7-block inset>
		<f7-row>
			<f7-col width="100">
				<f7-button @click="login()" fill tab-link back>登录</f7-button>
			</f7-col>
		</f7-row>
	</f7-block>
</f7-page>
</template>

<script>

export default {
	data() {
		return {
			userId: '',
			password: ''
		}
	},
	methods: {
		login() {
			console.log(this.userId);
		}
	}
}
</script>
