<template>

<f7-page name="setting">
	<f7-navbar title="设置" back-link></f7-navbar>

	<f7-list class="margin-vertical">
		<f7-list-item
			link="/message-remind"
			title="新消息提醒"
		></f7-list-item>
		<f7-list-item
			link="/modify-password"
			title="修改用戶"
		></f7-list-item>
	</f7-list>

	<f7-list class="margin-top">
		<f7-list-item
			link="/about"
			title="关于"
		></f7-list-item>
	</f7-list>
</f7-page>
</template>
