<template>

<f7-page name="message-content">
	
	<f7-navbar title="消息内容" back-link></f7-navbar>

	<f7-messages ref="messages">
			<!-- <f7-messages-title><b>Sunday, Feb 9,</b> 12:58</f7-messages-title> -->
			<f7-message
				v-for="(message, index) in messagesData"
				:key="index"
				:type="message.type"
				:text="message.text"
				:image="message.image"
				:name="message.name"

				:avatar="message.avatar"
				:first="isFirstMessage(message, index)"
				:last="isLastMessage(message, index)"
				:tail="isTailMessage(message, index)"
			></f7-message>
		</f7-messages>
		<!-- <f7-messagebar placeholder="Message" @submit="onSubmit" init="true">
			<f7-icon if-ios="f7:arrow_up_fill" if-md="material:send" slot="send-link"></f7-icon>
		</f7-messagebar> -->
		<f7-messagebar
			:placeholder="placeholder"
			ref="messagebar"
			:attachmentsVisible="attachmentsVisible"
			:sheetVisible="sheetVisible"
		>
			<!-- Link to toggle Sheet -->
			<f7-link
				icon-if-ios="f7:camera_fill"
				icon-if-md="material:camera_alt"
				slot="inner-start"
				@click="sheetVisible = !sheetVisible"
			></f7-link>
			<!-- Send Message Link -->
			<f7-link
				icon-if-ios="f7:arrow_up_fill"
				icon-if-md="material:send"
				slot="inner-end"
				@click="sendMessage"
			></f7-link>
			<!-- Attachments -->
			<f7-messagebar-attachments>
				<f7-messagebar-attachment
					v-for="(image, index) in attachments"
					:key="index"
					:image="image"
					@attachment:delete="deleteAttachment(image)"
				></f7-messagebar-attachment>
			</f7-messagebar-attachments>
			<!-- Sheet -->
			<f7-messagebar-sheet>
				<f7-messagebar-sheet-image
					v-for="(image, index) in images"
					:key="index"
					:image="image"
					:checked="attachments.indexOf(image) >= 0"
					@change="handleAttachment"
				></f7-messagebar-sheet-image>
			</f7-messagebar-sheet>
		</f7-messagebar>
</f7-page>
</template>



<script>
export default {
  name: "message-content",
  data() {
    return {
      messagesData: [],
      attachments: [],
    };
	},
	mounted() {
    
	},
  computed: {
    attachmentsVisible() {
      const self = this;
      return self.attachments.length > 0;
    },
    placeholder() {
      const self = this;
      return self.attachments.length > 0 ? "Add comment or Send" : "Message";
    }
  },
  methods: {
    isFirstMessage(message, index) {
      const self = this;
      const previousMessage = self.messagesData[index - 1];
      if (message.isTitle) return false;
      if (
        !previousMessage ||
        previousMessage.type !== message.type ||
        previousMessage.name !== message.name
      )
        return true;
      return false;
    },
    isLastMessage(message, index) {
      const self = this;
      const nextMessage = self.messagesData[index + 1];
      if (message.isTitle) return false;
      if (
        !nextMessage ||
        nextMessage.type !== message.type ||
        nextMessage.name !== message.name
      )
        return true;
      return false;
    },
    isTailMessage(message, index) {
      const self = this;
      const nextMessage = self.messagesData[index + 1];
      if (message.isTitle) return false;
      if (
        !nextMessage ||
        nextMessage.type !== message.type ||
        nextMessage.name !== message.name
      )
        return true;
      return false;
    },
    deleteAttachment(image) {
      const self = this;
      const index = self.attachments.indexOf(image);
      self.attachments.splice(index, 1)[0]; // eslint-disable-line
    },
    handleAttachment(e) {
      const self = this;
      const index = self
        .$$(e.target)
        .parents("label.checkbox")
        .index();
      const image = self.images[index];
      if (e.target.checked) {
        // Add to attachments
        self.attachments.unshift(image);
      } else {
        // Remove from attachments
        self.attachments.splice(self.attachments.indexOf(image), 1);
      }
    },
    sendMessage() {
      const self = this;
      const text = self.messagebar
        .getValue()
        .replace(/\n/g, '<br>')
        .trim();

      if (text.length === 0) {
        // exit when empty messagebar text is empty
        return;
      }

      // Clear messagebar area
      self.messagebar.clear();

      // Focus area
      if (text.length) self.messagebar.focus();

      const message = {
        name: 'cat1',
        text,
        type: 'received'
      }
      
      const data = {
        toId: self.$f7Route.params.id,
        message
      }

      // Add sent message
      self.messagesData.push({ ...message, type: 'sent'});

      // Mock response
      const answer =
        self.answers[Math.floor(Math.random() * self.answers.length)];
      const person =
        self.people[Math.floor(Math.random() * self.people.length)];

      setTimeout(() => {
        // self.messagesData.push({
        //   name: `${person.name} ${new Date().getHours()}:${new Date().getMinutes()}:${new Date().getSeconds()} :`,
        //   text: answer,
        //   type: 'received'
				// });
      }, 1000);
    },
    onF7Ready() {
      const self = this;
      // References to us APIs
      self.messagebar = self.$refs.messagebar.f7Messagebar;
      self.messages = self.$refs.messages.f7Messages;
    }
  }
};
</script>
