<template>
	<f7-page>
		<f7-navbar title="添加好友/群" back-link>
		<f7-nav-right>
				<f7-link @click="test()">
					<p>test</p>
				</f7-link>
			</f7-nav-right>
		</f7-navbar>
		<f7-card-header
        class="no-border"
        valign="bottom"
				v-model="message"
    ><f7-input type="text" :value="id" @input="id = $event.target.value"></f7-input>
		</f7-card-header>
		<f7-button @click="test()">添加</f7-button>
	</f7-page>
</template>

<script>
export default {
	data() {
		return {
			chatList: [],
			friends: [],
			id: 1
		}
	},
	mounted() {},
	methods: {
		test() {
			alert('hello');
		}
	}
}
</script>

<style lang="less" scoped>

.card-header{
	.input{
		background-color: blue;
	}
}
</style>

