<template>

<div>
	<f7-list media-list class="no-margin-top">
		<f7-list-item
		v-for="chat in chatList"
		v-if="chat"
		media="/images/group.png"
		:link="`/message-content/${chat.id}`"
		:key="chat.id"
		:title="chat.name"
		:subtitle="chat.lastTime"
		:text="chat.lastMessage"
		></f7-list-item>
	</f7-list>
</div>

</template>

<script>
export default {
	name: 'message',
	computed: {
		chatList() {
			return this.$store.state.chat.list;
		}
	}
}
</script>

<style lang="less">
.item-media{
	width: 15%;
	img{
		width: 100%;
	}
}
</style>