<template>

<!-- <f7-pages> -->
	<f7-page toolbar-fixed navbar-fixed name="index" id="index">
		<f7-navbar>
			<f7-nav-title>{{navTitle}}</f7-nav-title>
			<f7-nav-right>
				<f7-link @click="test()">
					<p>test</p>
				</f7-link>
				<f7-link :href="`/add${this.activedTab}`">
					<f7-icon material="add"></f7-icon>
				</f7-link>
				<f7-link href="/setting">
					<f7-icon material="settings"></f7-icon>
				</f7-link>
			</f7-nav-right>
		</f7-navbar>

		<f7-toolbar tabbar labels bottom-md>
			<f7-link active
				text="Message"
				tab-link
				tab-link-active
				data-route-tab-id="message"
				href="./"
				icon-f7="chat"
			></f7-link>
			<f7-link
				text="Schedule"
				tab-link
				data-route-tab-id="schedule"
				href="./schedule/"
				icon-f7="calendar"
			></f7-link>
			<f7-link
				text="Note"
				tab-link
				data-route-tab-id="note"
				href="./note/"
				icon-f7="compose"
			></f7-link>
		</f7-toolbar>

		<f7-tabs routable>
			<f7-tab id="message"
				@tab:show="tabActived('message')">
				<!-- <message></message> -->
			</f7-tab>
			<f7-tab id="schedule"
				@tab:show="tabActived('schedule')">
				<!-- <find></find> -->
			</f7-tab>
			<f7-tab id="note"
				@tab:show="tabActived('note')">
				<!-- <personal></personal>	 -->
			</f7-tab>
		</f7-tabs>
	</f7-page>
<!-- </f7-pages> -->

</template>

<script>
import { mapState } from 'vuex';
export default {
	
	name: 'index',
	data() {
		return {
			chatList: [],
			activedTab: 'message',
			tabList: {
				'message': 'Message',
				'schedule': 'Schedule',
				'note': 'Note'
			}
		}
	},
	computed: {
		navTitle() {
			return this.tabList[this.activedTab];
		}
	},
	methods: {
		tabActived(tab) {
			this.activedTab = tab;
		},
		test() {
			this.$store.commit('CREATE_CHAT', {'1': {
				id: 1,
				name: 'cat1',
				lastTime: new Date().toLocaleString(),
				lastMessage: 'test'
			}});
			setTimeout(() => {
				this.$store.commit('DELETE_CHAT');
			}, 3000);
		}
	}
}
</script>

<style lang="less">
// #app .view .navbar .title {
// 	left: 0!important;
// }
</style>
