<template>

<f7-page name="advice">
	<f7-navbar title="我的建言" back-link></f7-navbar>

	<f7-list class="no-margin-top">
		<f7-list-item
			link="/advice-detail"
			title="建言 1"
			after="2018/03/15"
		></f7-list-item>
		<f7-list-item
			link=""
			title="建言 2"
			after="2018/03/02"
		></f7-list-item>
	</f7-list>
</f7-page>
</template>
