<template>

<f7-page name="advice-detail">
	<f7-navbar title="详情" back-link></f7-navbar>

	<f7-block strong class="margin-top">
		明天会更好！
	</f7-block>
	<f7-block-footer>
		2018/03/15
	</f7-block-footer>
</f7-page>
</template>
