<template>

<!-- <f7-page name="circle">
	<f7-navbar title="领导圈" back-link></f7-navbar>

	<f7-card>
		<f7-card-header>
			<f7-list media-list>
				<f7-list-item
					title="张三"
					subtitle="1分钟前">
				</f7-list-item>
			</f7-list>
		</f7-card-header>
		<f7-card-content>
			<img src="../../images/cat1.jpeg" width="100%">
			<f7-list media-list>
				<f7-list-item
					title="统战知识 | 抗日民族统一战线：抗日战争胜利的根本保证"
					text="中国抗日战争，是中国近代以来抗击外敌入侵第一次取得完全胜利的伟大民族解放战争，也是世界反法西斯战争的重要组成部分。而抗日战争最终取得完全胜利与中国共产党所倡导建立的以国共合作为基础的抗日民族统一战线是密不可分的。"
					link="/article">
				</f7-list-item>
			</f7-list>
		</f7-card-content>
		<f7-card-footer>
			<f7-link icon-f7="heart_fill" text="1"></f7-link>
			<f7-link icon-f7="star"></f7-link>
			<f7-link icon-f7="forward"></f7-link>
		</f7-card-footer>
	</f7-card>
	
	<f7-card>
		<f7-card-header>
			<f7-list media-list>
				<f7-list-item
					title="王权有"
					subtitle="两小时前">
				</f7-list-item>
			</f7-list>
		</f7-card-header>
		<f7-card-content>
			<img src="../../images/home/slide2.jpg" width="100%">
			<f7-list media-list>
				<f7-list-item
					title="港澳台海 | 西青区委常委、统战部长董秀琴会见"
					text="为进一步加大对台招商服务力度，促进重点台资项目发展，4月2日，区委常委、区委统战部部长董秀琴会见了台湾冠德集团董事长马志纲一行。董秀琴与马志纲一行进行了亲切的交流，详细了解了冠德环球购物中心的运营情况，听取了企业未来的发展规划和目标，对企业扎根西青、服务天津的发展理念和稳步提升的经营业绩表示了肯定。"
					link="/article">
				</f7-list-item>
			</f7-list>
		</f7-card-content>
		<f7-card-footer>
			<f7-link icon-f7="heart"></f7-link>
			<f7-link icon-f7="star"></f7-link>
			<f7-link icon-f7="forward"></f7-link>
		</f7-card-footer>
	</f7-card>
</f7-page> -->
</template>
