<template>

<!-- <div>
	<f7-list class="margin-vertical">
		<f7-list-item
			link="/circle"
			title="领导圈"
			badge="1"
			badge-color="red">
			<f7-icon slot="media" material="camera"></f7-icon>	
		</f7-list-item>
		<f7-list-item
			link="/circle"
			title="关注">
			<f7-icon slot="media" material="lightbulb_outline"></f7-icon>	
		</f7-list-item>
	</f7-list>

	<f7-list class="margin-vertical">
		<f7-list-item
			link=""
			title="扫一扫">
			<f7-icon slot="media" material="crop_free"></f7-icon>	
		</f7-list-item>
		<f7-list-item
			link="/see"
			title="看一看">
			<f7-icon slot="media" material="remove_red_eye"></f7-icon>	
		</f7-list-item>
	</f7-list>

	<f7-list class="margin-vertical">
		<f7-list-item
			link="/center"
			title="新闻中心">
			<f7-icon slot="media" material="description"></f7-icon>
		</f7-list-item>
		<f7-list-item
			link="/center"
			title="文化艺术">
			<f7-icon slot="media" material="business"></f7-icon>
		</f7-list-item>
		<f7-list-item
			link="/activity"
			title="活动中心">
			<f7-icon slot="media" material="alarm_on"></f7-icon>
		</f7-list-item>
		<f7-list-item
			link="/center"
			title="人才中心">
			<f7-icon slot="media" material="people"></f7-icon>
		</f7-list-item>
		<f7-list-item
			link="/center"
			title="知识学习">
			<f7-icon slot="media" material="live_tv"></f7-icon>	
		</f7-list-item>
		<f7-list-item
			link="/center"
			title="投递中心">
			<f7-icon slot="media" material="drafts"></f7-icon>	
		</f7-list-item>
	</f7-list>

</div> -->
</template>
