<template>
	<f7-page>
		<f7-navbar title="待办事项" back-link></f7-navbar>
		<datepicker :inline="true"></datepicker>
	</f7-page>
</template>

<script>
import Datepicker from 'vuejs-datepicker';

export default {
  // ...
  components: {
    Datepicker
  }
  // ...
}
</script>