<template>

<div>
	<f7-list class="no-margin-top">
		<f7-list-item
			title="频道 1">
			<f7-toggle slot="after" disabled checked></f7-toggle>
		</f7-list-item>
		<f7-list-item
			title="频道 2">
			<f7-toggle slot="after" checked></f7-toggle>
		</f7-list-item>
		<f7-list-item
			title="频道 3">
			<f7-toggle slot="after"></f7-toggle>
		</f7-list-item>
		<f7-list-item
			title="频道 4">
			<f7-toggle slot="after"></f7-toggle>
		</f7-list-item>
	</f7-list>
</div>
</template>
