<template>
	<f7-page>
		<f7-navbar title="查看笔记" back-link>
			<f7-nav-right>
				<f7-link @click="saveNote()">
					<p>保存</p>
				</f7-link>
			</f7-nav-right>
		</f7-navbar>
		<f7-card class="demo-card-header-pic">
      <f7-card-header
        class="no-border"
        valign="bottom"
				v-model="message"
      ><f7-input type="text" :value="title" @input="title = $event.target.value"></f7-input>
			</f7-card-header>
			<textarea row="1" cols="40" v-model="content" autofocus></textarea>
    </f7-card>
	</f7-page>
</template>

<script>
export default {
	data() {
		return {
			title: 'note',
			content: '',
			note: {}
		};
	},
	mounted() {
		const id = this.$f7Route.params.id;
		console.log(id);
		this.noteList = load('note');
		console.log(this.noteList);
		if (!id) {
			this.note = {
				id: this.noteList.length + 1,
				title: 'note',
				content: '',
				updateTime: new Date()
			}
		}else {
			this.note = this.noteList[id-1];
		}
		
		console.log(this.note);
		this.content = this.note.content;
		this.title = this.note.title;
	},
	computed: {
		title() {
			return this.note.title
		},
		content() {
			return this.note.content;
		},
		updateTime() {
			return this.note.updateTime;
		}
	},
	methods: {
		saveNote() {
			this.note.content = this.content;
			this.note.title = this.title;
			this.note.updateTime = new Date();console.log(this.note.id, this.noteList);
			const result = this.noteList.findIndex(note => {
				return note.id == this.note.id;
			});
			if (result == -1) {
				this.noteList.push(this.note);
				save('note', this.noteList);
				return;
			}
			this.noteList.splice(result, 1, this.note);
			save('note', this.noteList);
		},
		fuck() {
			// alert(this.aoeu);
		}
	}
}
</script>

<style lang="less">
.card {
	height: 98%;
}
.md .page-content>.card:last-child {
	margin-bottom: 8px;
}
textarea {
	margin-left: 5%;
	margin-right: 5%;
	height: 800px;
}
</style>
