<template>
	<f7-page>
		<f7-list media-list class="no-margin-top">
		<f7-list-item
		v-for="note in noteList"
		:link="`/note-detail/${note.id}`"
		:key="note.id"
		:title="note.title"
		:subtitle="note.updateTime"
		:text="note.content"
		></f7-list-item>
	</f7-list>
	</f7-page>
</template>

<script>
const noteList = [];
window.noteList = noteList;
export default {
  data() {
    return {
      name: "note",
      noteList
    };
  },
  mounted() {
  }
};
</script>

