<template>

<f7-login-screen id="login-screen" color-theme="blue">
	<f7-view>
		<f7-page login-screen>
			<f7-row>
				<f7-col style="margin-top:5rem">
					<img src="../../../build/logo.png" alt="logo" width="100px">
				</f7-col>
			</f7-row>
			<f7-login-screen-title>登录</f7-login-screen-title>

			<f7-list form>
				<f7-list-item>
					<f7-label>帐号</f7-label>
					<f7-input name="phone" :value="userId" @input="userid = $event.target.value" placeholder="帐号" type="text"></f7-input>
				</f7-list-item>
				<f7-list-item>
					<f7-label>密码</f7-label>
					<f7-input name="password" :value="password" @input="password = $event.target.value" type="password" placeholder="密码"></f7-input>
				</f7-list-item>
			</f7-list>
			<f7-list>
				<f7-list-button title="登录" href="/index/"></f7-list-button>
				<f7-block-footer>
					点击 <a href="/binding">注册</a> 申请一个新账号。
				</f7-block-footer>
			</f7-list>
		</f7-page>
	</f7-view>
</f7-login-screen>
		
</template>

<script>
export default {
	data() {
		return {
			userId: '',
			password: ''
		}
	},
	methods: {
		login() {
			if (this.userId == this.password) {
				save('login', this.userId);
			}
		}
	}
}
</script>


<style lang="less">
#login-screen {
	div.col {
		text-align: center;
	}
}
</style>
